* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

header {
    background-color: orange;
    height: 50px;
}

footer {
    background-color: orange;
    height: 50px;

}

.head_logo {
    font-size: 25px;
    padding-top: 10px;
    font-weight: 700;
    color: black;
}

.main {
    min-height: 820px;
}

.main_logo {
    font-size: 16px;
    font-weight: 400;
    color: black;
    text-align: center;
    margin-top: 25px;
}

.main_meme {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_img {
    width: 500px;
    height: 100%;
}

.footer {
    margin-top: 25px;
}

.link_telegram {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: normal;
    text-align: end;
    color: black;
    font-weight: 400;
}

.link_telegram:hover,
.link_telegram:focus,
.link_telegram:active {
    color: blue;
    font-size: large;
}